<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-grid>
      <ion-row>
        <ion-col size="1" size-md="1">
          <ion-icon name="person-circle-outline" size="large" color="light" routerLink="/perfil"></ion-icon>
        </ion-col>
        <ion-col class="title-center">
          <ion-title color="light">Carrito</ion-title>
        </ion-col>
        <ion-col size="1" size-md="1">
          <ion-buttons >
            <ion-button id="popover-button5">
              <ion-icon name="ellipsis-vertical" color="light"></ion-icon>
            </ion-button>
            <ion-popover trigger="popover-button5" [dismissOnSelect]="true">
              <ng-template>
                <ion-content>
                  <ion-list>
                    <ion-item [button]="true" [detail]="false"routerLink="/nosotros">Nosotros</ion-item>
                    <ion-item [button]="true" [detail]="false">Configuración</ion-item>
                    <ion-item [button]="true" [detail]="false" routerLink="/acercade">Acerca de</ion-item>
                  </ion-list>
                </ion-content>
              </ng-template>
            </ion-popover>
          </ion-buttons>        
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="light">
  <ion-card color="light" *ngIf="carrito.length > 0">
    <ion-card-header>
      <ion-card-title>Productos en el Carrito</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item color="light" *ngFor="let item of carrito; let i = index">
          <ion-thumbnail slot="start">
            <img [src]="item.imagen || 'https://ionicframework.com/docs/img/demos/thumbnail.svg'" />
          </ion-thumbnail>
          <ion-label>
            <h2>{{ item.nombre }}</h2>
            <p>{{ item.descripcion }}</p>
            <h3><strong>$ {{ item.precio | number:'1.2-2' }}</strong></h3>
          </ion-label>
          <ion-icon name="trash" color="danger" (click)="eliminarDelCarrito(i)" slot="end"></ion-icon>
        </ion-item>
      </ion-list>

      <ion-item color="light">
        <ion-label><strong>Total:</strong></ion-label>
        <ion-text color="primary">
          <h2><strong>$ {{ total | number:'1.2-2' }}</strong></h2>
        </ion-text>
      </ion-item>

      <ion-button expand="full" (click)="irAlComprobante()">
        Proceder a la Compra
      </ion-button>
    </ion-card-content>
  </ion-card>

  <ion-card *ngIf="carrito.length === 0">
    <ion-card-header>
      <ion-card-title>No hay productos en el carrito</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-text color="dark">Tu carrito está vacío. Agrega productos para continuar.</ion-text>
    </ion-card-content>
  </ion-card>
</ion-content>
